*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  color: $color-black;
  font-weight: 500;
  background-color: $color-white;
}

.container {
  // position: relative;
  padding: 2rem 4rem;
}
