// Variables

// iconColor: "#991b1b",
// confirmButtonColor: "#010101",
// confirmButtonColor: "#991b1b",
// cancelButtonColor: "#a16207",

$color-primary: #facc15;
$color-primary-dark: #a16207;
$color-primary-light: #fde047;

$color-secondary: #404040;
$color-secondary-dark: #262626;
$color-secondary-light: #525252;

$color-background: #52525298;

$color-white: #fdf5f4;

$color-black: #010101;

$color-star: #facc15;

// Mixins
@mixin centerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == 31.25em {
    @media only screen and (max-width: 31.25em) {
      @content;
    } //500px
  }
  @if $breakpoint == 37.5em {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == 48em {
    @media only screen and (max-width: 48em) {
      @content;
    } //768px
  }
  @if $breakpoint == 49em {
    @media only screen and (min-width: 49em) {
      @content;
    }
  }
  @if $breakpoint == 56.25em {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == 62.5em {
    @media only screen and (max-width: 62.5em) {
      @content;
    } //1000px
  }
  @if $breakpoint == 75em {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == 112.5em {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}

// Utilities

.margin-top-sm {
  margin-top: 2rem;
}

.margin-bottom-sm {
  margin-bottom: 2rem;
}

.margin-right-sm {
  margin-right: 2rem;
}

.margin-left-sm {
  margin-left: 2rem;
}

.margin-right-md {
  margin-right: 4rem;
}
