// src/styles/variables.scss

$color-primary: #ec297b;
$color-primary-light: #ed83b5;
$color-primary-dark: #470c25;

$color-secondary: #fff48b;
$color-secondary-dark: #fae94b;

$color-star: #ffdd00;

$color-background: #f2e3e6;

$color-grey-dark: #25181d;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fbfcf8;
$color-white-darker: #f8f6f0;
$color-black: #000;
