:global {
  .react-datepicker {
    font-family: inherit;
    font-size: 1.2;
  }

  .react-datepicker__input-container {
    & input {
      border: 1px inset $color-black;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  .react-datepicker__month-container {
    background-color: $color-secondary;
    border: none;
    font-size: 1.2rem;
  }

  .react-datepicker__header {
    background-color: $color-primary;
  }

  .react-datepicker__day ~ .react-datepicker__day--selected {
    background-color: $color-primary;
  }

  .react-datepicker__day--today {
    background-color: $color-primary;
  }

  .react-datepicker-popper {
    position: absolute;
    top: 18% !important;
    left: 8.5% !important;
    transform: translate(0) !important;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.2rem;

  &-row {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;

    font-size: 1.6rem;

    &__date {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: flex-start;
    }

    &__checkbox {
      display: flex;
      align-items: center;
      margin-left: 1rem;

      & input {
        cursor: pointer;
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 1.2rem;
        accent-color: $color-primary;
      }

      & span {
        font-size: 1.2rem;
        color: $color-white;
        font-weight: 400;
      }
    }

    & textarea {
      width: 100%;
      height: 10rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & select {
        width: 40%;
      }

      &-create {
        margin-left: 1rem;
        display: flex;
        gap: 1rem;
        align-items: flex-start;

        & input {
          margin-right: 1rem;
        }
      }

      &__add-button {
        align-self: flex-end;
      }
    }
  }

  label {
    margin-bottom: 0.4rem;
    font-weight: bold;
  }

  input[type="text"],
  textarea,
  select {
    font-family: inherit;
    padding: 0.8rem;
    border: 1px solid $color-white;
    border-radius: 4px;
    font-weight: 600;

    &:focus {
      outline: none;
    }
  }
}

.not-released {
  height: 30vh;

  & p {
    width: 80%;
    text-align: center;
    color: $color-white;
    @include centerContent;
  }
}
