.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &-add {
    background-color: aqua;
  }
}
