.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &-add {
    background-color: $color-primary;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
  }

  &-close {
    background-color: inherit;

    position: absolute;
    top: 3%;
    right: 3%;
    transform: translate(-3%, -3%);
  }

  &-delete {
    padding: 1rem;
    font-weight: 600;
    background-color: $color-primary-dark;
    flex-shrink: 0;
  }

  &-details {
    display: inline-block;
    justify-self: flex-end;
    padding: 0;
    background-color: inherit;
    text-transform: lowercase;
    text-decoration: underline;
    font-size: 1.4rem;
  }

  &-show-all {
    font-weight: 600;
    background-color: rgba($color-grey-dark, 0.4);
  }

  &-trash {
    padding: 0;
    background-color: inherit;
    align-self: center;
  }
}
