.detailed-summary {
  padding: 4rem 8rem;

  & h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-item {
      display: grid;
      grid-template-columns: 1fr 3fr;

      & h3 {
        font-weight: 600;
        font-size: 2rem;
      }

      & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        list-style: none;

        & li {
          padding: 0.8rem 1.2rem;
          background-color: rgba($color-primary, 0.3);
          border-radius: 4px;

          font-size: 1.6rem;
        }
      }
    }
  }

  &__top-picks {
    padding: 6rem 0;

    & ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2rem;
      column-gap: 3rem;

      & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        border: 2px solid rgba($color-primary, 0.3);
        border-radius: 4px;

        & h3 {
          font-size: 2rem;
          font-weight: 500;
        }

        & p {
          font-size: 1.8rem;

          & span {
            font-size: 1.2rem;
          }
        }
      }
    }

    &__poster {
      width: 50%;
      aspect-ratio: 2 / 3;
      border-radius: 4px;
    }
  }
}
