.detailed-summary {
  padding: 4rem 8rem;

  @include respond(56.25em) {
    padding: 2rem 4rem;
    margin-top: 4rem;
  }
  @include respond(48em) {
    margin-top: 6rem;
  }

  @include respond(37.5em) {
    padding: 2rem;
    margin-top: 8rem;
  }

  @include respond(31.25em) {
    padding: 0;
  }

  & h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;

    @include respond(31.25em) {
      font-size: 2.2rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-item {
      display: grid;
      grid-template-columns: 1fr 3fr;

      & h3 {
        font-weight: 600;
        font-size: 2rem;

        @include respond(31.25em) {
          font-size: 1.8rem;
        }
      }

      & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        list-style: none;

        & li {
          padding: 0.8rem 1.2rem;
          background-color: rgba($color-primary, 0.3);
          border-radius: 4px;

          font-size: 1.6rem;

          @include respond(31.25em) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  &__top-picks {
    padding: 6rem 0;

    & ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2rem;
      column-gap: 3rem;

      @include respond(56.25em) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include respond(31.25em) {
        grid-template-columns: 1fr;
      }

      & li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        border: 2px solid rgba($color-primary, 0.3);
        border-radius: 4px;

        & h3 {
          font-size: 2rem;
          font-weight: 500;
          text-align: center;

          @include respond(31.25em) {
            font-size: 1.8rem;
          }
        }

        & p {
          font-size: 1.8rem;

          @include respond(31.25em) {
            font-size: 1.6rem;
          }

          & span {
            font-size: 1.2rem;

            @include respond(31.25em) {
              font-size: 1rem;
            }
          }
        }
      }
    }

    &__poster {
      text-align: center;
      & img {
        transition: all 0.3s ease;
        border-radius: 4px;
        aspect-ratio: 2 / 3;
        width: 50%;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }

        @include respond(37.5em) {
          width: 70%;
        }

        @include respond(31.25em) {
          width: 50%;
        }
      }
    }
  }
}

.button-box {
  position: absolute;
  top: 10rem;
  left: 5rem;
  @include respond(48em) {
    top: 10rem;
    left: 2rem;
  }
}
