.footer {
  bottom: 0%;
  left: 0%;
  background-color: $color-secondary-dark;
  position: relative;
  height: 10vh;
  width: 100%;

  & p {
    @include centerContent;
    color: $color-white;
    font-size: 1.2rem;
    font-weight: 400;

    & a {
      text-decoration: none;
      color: inherit;
      border-bottom: 1px solid $color-white;
    }
  }
}
