.header {
  background-color: $color-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 10vh;
  width: 100%;

  transition: all 3s ease-in-out;

  a.active {
    text-decoration: none;
  }

  &__list {
    display: flex;
    gap: 3rem;
    list-style: none;

    li a {
      transition: all 0.4s;

      &:link,
      &:visited {
        color: $color-primary;
        text-decoration: none;
      }
      &:hover,
      &:active {
        color: $color-primary-dark;
      }
    }
  }

  &-bg {
    background: transparent;
    position: absolute;
    top: 0;

    z-index: 3;

    &__list li a {
      &:link,
      &:visited {
        color: $color-primary;
        text-decoration: none;
      }
      &:hover,
      &:active {
        color: $color-primary-light;
      }
    }
  }
}
