.header {
  background-color: $color-black;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: auto;
  align-items: center;
  padding: 0 3rem;
  height: 10vh;
  width: 100%;
  transition: all 0.3s ease-in-out;

  a.active {
    text-decoration: none;
  }

  &__list {
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: flex-end;

    li {
      transition: all 0.4s;

      &:link,
      &:visited {
        color: $color-primary;
        text-decoration: none;
      }
      &:hover,
      &:active {
        color: $color-primary-light;
      }
    }

    &-icon {
      width: 3rem;
      height: 3rem;
      stroke: $color-primary;
      transition: all 0.3s ease;

      &:hover {
        color: $color-primary-light;
      }
    }
  }

  &-bg {
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 3;

    &__list li a {
      &:link,
      &:visited {
        color: $color-primary;
        text-decoration: none;
      }
      &:hover,
      &:active {
        color: $color-primary-light;
      }
    }
  }
}

:global {
  ion-icon[name="person-circle-outline"] {
    width: 3rem;
    height: 3rem;
    color: $color-primary;
    transition: color 0.3s ease;

    &:hover {
      color: $color-primary-light;
    }
  }
}
