.list {
  padding: 2rem;
  margin: 0 auto;
  position: relative;

  @include respond(75em) {
    width: 80%;
  }

  @include respond(56.25em) {
    width: 90%;
  }

  @include respond(48em) {
    width: 100%;
    margin-top: 6rem;
  }

  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }

  & h2 {
    font-size: 2.8rem;

    @include respond(31.25em) {
      font-size: 2.4rem;
    }
  }

  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;

    @include respond(48em) {
      margin-bottom: 2rem;
    }
  }
}

.button-box {
  position: absolute;
  top: 10rem;
  left: 5rem;
  @include respond(48em) {
    top: 10rem;
    left: 2rem;
  }
}
