.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-secondary-dark;
  padding: 4rem;
  z-index: 1200;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba($color-black, 0.1);

  @include respond(56.25em) {
    width: 60%;
  }

  @include respond(48em) {
    width: 75%;
  }

  @include respond(37.5em) {
    width: 80%;
  }

  @include respond(31.25em) {
    width: 90%;
  }

  &-container {
    position: relative;
  }

  &__close {
    color: $color-white;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-black, 0.5);
  z-index: 1100;
}

:global {
  ion-icon[name="close-outline"] {
    width: 3rem;
    height: 3rem;
    color: inherit;
    transition: color 0.3s ease;
  }
}
