.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-secondary-dark;
  padding: 4rem;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba($color-black, 0.1);

  &-container {
    position: relative;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-black, 0.5);
  z-index: 999;
}

:global {
  ion-icon[name="close-outline"] {
    width: 3rem;
    height: 3rem;
    color: $color-white;
    transition: color 0.3s ease;
  }
}
