.movie-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;

  @include respond(75em) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include respond(37.5em) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(31.25em) {
    grid-template-columns: repeat(2, 1fr);
  }
}
