.movie {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  gap: 6rem;
  align-items: start;

  @include respond(56.25em) {
    grid-template-columns: 2fr 4fr 1fr;
  }

  &__poster-container {
    display: flex;
    align-items: center;
    border-radius: 5px;

    & img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-heading {
      display: flex;
      align-items: center;
    }

    &__title {
      font-size: 2.8rem;
      font-weight: 600;

      @include respond(56.25em) {
        font-size: 2.4rem;
      }
    }

    &__released {
      color: $color-secondary-dark;
      font-size: 1.6rem;
      margin: 0 2rem 0 0.8rem;
    }

    &__voted {
      font-size: 1.8rem;
    }

    &__runtime {
      font-size: 1.6rem;
      margin: -1.4rem 0 2rem 2rem;

      & span {
        font-size: 1.4rem;
      }
    }

    &__tagline {
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-secondary-dark;
    }

    &__overview {
      font-size: 1.6rem;
      line-height: 1.5;
      margin-top: -1rem;

      @include respond(56.25em) {
        font-size: 1.4rem;
      }
    }

    &__list {
      padding: 0 0 0 2rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      font-size: 1.8rem;

      @include respond(56.25em) {
        font-size: 1.6rem;
      }

      & li span {
        padding: 0.6rem 0.8rem;
        margin-left: 1rem;
        background-color: rgba($color-primary-dark, 0.2);
        border-radius: 4px;

        font-size: 1.4rem;
      }

      &__cast {
        display: flex;
        gap: 1rem;
        & ul {
          list-style: none;
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;

          & li {
            padding: 0.6rem 0.8rem;
            background-color: rgba($color-primary-dark, 0.2);
            border-radius: 4px;

            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
