.movie {
  padding: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  border-radius: 3px;
  background-color: rgba($color-primary, 0.3);

  &-card {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    align-self: flex-start;

    &__poster-container {
      width: 100%;
      aspect-ratio: 2 / 3;
      position: relative;
      border-radius: 4px;
      overflow: hidden;

      &::after {
        content: "";
        display: block;
        padding-top: 67.5%;
      }
    }

    &__poster {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 3px;
      transition: all 0.3s ease-in;

      &--hovered {
        transition: all 0.3 ease-in;
        &::after {
          content: "";
          @include centerContent;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          background-image: radial-gradient(
            circle at center,
            rgba($color-black, 0.8) 20%,
            rgba($color-black, 0.7) 30%,
            rgba($color-black, 0.6) 40%,
            rgba($color-black, 0.5) 50%,
            rgba($color-black, 0.4) 60%,
            rgba($color-black, 0.3) 75%,
            rgba($color-black, 0.2) 90%,
            rgba($color-black, 0.1) 100%
          );
          opacity: 1;
          z-index: 100;
        }
      }

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    &__button {
      @include centerContent;
      background-color: rgba($color-primary, 0.7);
      color: $color-white;
      border: none;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      display: none;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      transition: all 3s ease;
      z-index: 1000;

      &:hover {
        background-color: rgba($color-primary, 0.9);
        cursor: pointer;
        display: flex;
      }
    }

    &__poster-container:hover ~ &__button {
      display: flex;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    // max-height: 5rem;

    &--title {
      padding: 0 2rem;
      font-size: 1.6rem;
      font-weight: 400;
      margin-top: 0.8rem;
      // text-align: center;
    }
  }
}
