.movie {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__poster {
    width: 75%;
    height: auto;
  }

  &__details {
    &-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &-released {
      color: gray;
    }

    &-overview {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
