.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 2s ease;

  &_input {
    border: none;
    border-radius: 5px;
    padding: 1.2rem;
    font-size: 1.6rem;
    max-width: 60rem;
    min-width: 50rem;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: $color-white;

    &:focus {
      outline: 2px solid $color-primary;
    }
  }

  // &.homepage {
  //   // position: static;
  //   // display: flex;
  //   // justify-content: center;
  //   // align-items: center;
  //   // transform: translate(0);

  //   @include centerContent;
  // }
}
