.summary {
  border-right: 2px solid $color-primary;

  @include respond(48em) {
    width: 70%;
  }

  @include respond(48em) {
    border-right: none;
    border-bottom: 2px solid $color-primary;
    min-width: 50%;
    padding-bottom: 4rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;

    @include respond(48em) {
      font-size: 1.8rem;
    }
  }

  &__list {
    list-style: none;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 2.6rem;
    color: $color-primary-dark;

    @include respond(48em) {
      font-size: 2.4rem;
    }

    & li span {
      font-size: 1.6rem;
      color: $color-black;

      @include respond(48em) {
        font-size: 1.4rem;
      }
    }
  }

  &__button {
    align-self: flex-end;
  }
}
