.summary {
  border-right: 2px solid $color-primary;
  padding-right: 2rem;

  @include respond(37.5em) {
    border-right: none;
    min-width: 50%;
    padding-right: 0;
  }

  @include respond(31.25em) {
    min-width: 70%;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;

    @include respond(48em) {
      font-size: 1.8rem;
    }
  }

  &__list {
    list-style: none;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 2.6rem;
    color: $color-primary-dark;

    @include respond(48em) {
      font-size: 2.4rem;
    }

    @include respond(37.5em) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      list-style: disc;
    }

    @include respond(31.25em) {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      list-style: none;
    }

    & li span {
      font-size: 1.6rem;
      color: $color-black;

      @include respond(48em) {
        font-size: 1.4rem;
      }
    }
  }

  &__button {
    text-align: end;
  }
}
